/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.logo{
    height: 80px;
}

/* DEBUG */
.debug .main-header{
    background-color: #255ee9;
    padding: 20px 0;
}
.debug .row{
    border: 2px dotted black;
    padding: 20px;

}
.debug [class^="col"]{
    padding: 5px 15px;
    border: 2px solid black;   
}

.debug .container{
    border: 2px dotted black;
    padding: 30px;
}
.debug .hero{
    background-color: blue;
    padding: 50px 0;
}
.debug .hero > * {
    min-height: 500px;
 }
.debug main [class^="col"]{
    min-height: 500px;   
}
.debug .page-footer{
    background-color: #23272a;
    padding: 20px 0;
    color: white;
}
.debug footer [class^="col"]{
    min-height: 500px;   
}

/* CLASSI */
.main-header .row{
    align-items: center;
}
.container-small{
    border: 2px dotted black;
    margin: 0 auto;
    max-width: 700px;
}
.col-60{
    flex-basis: 60%;
}
.col-40{
    flex-basis: 40%;
}

.row_reverse{
    flex-direction: row-reverse;
}
.bg-grey{
    background-color: lightgray;
}

.debug .row > nav{
    flex-grow: 1;
    text-align: center;

}
.col-100{
    flex-basis: 100%;
    background-color:green ;
}

.col-33{
    flex-basis: calc(100%/3);
}
.col-16{
    flex-basis: calc(100%/6);
}